<%# app/views/channels/show.html.erb %>
<div id="chat_app"></div>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag "chat", type: "module", "data-turbo-track": "reload" %>
